body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
}

html, body {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.flex-container-row {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0;
}

.flex-container-column {
  display: flex;
  flex-flow: column wrap;
  padding: 0.5rem;
  box-sizing: border-box;
  margin: 0;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-stretch {
  align-items: stretch !important;
}

.flex-row-center {
  justify-content: center !important;
}

.flex-item {
  padding: 0.5rem;
}

.full-with {
  width: 100% !important;
}